{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block content %}
    <div class="account_content">
    <form method="post" id="account">
        {% csrf_token %}
        {% if form.errors %}
        <p style="color: red;">ユーザー名とパスワードが一致しません。</p>
        {% endif %}
        <h1 id="account_title">login</h1>
        <p>
            <label for="id_username">username</label>
            <input type="text" name="username" id="id_username" required autofocus>
        </p>
        <p>
            <label for="id_password">password</label>
            <input type="password" name="password" id="id_password" required autofocus>
        </p>
        <input type="submit" value="login">
        <p>
            <a href="{% url 'accounts:signup' %}">Sign up</a>
            <br>
            <a href="{% url 'accounts:login_guest' %}">guest user</a>
        </p>
    </form>
    </div>
{% endblock %}