<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <table>
        <tr>
            <th>タイトル:</th>
            <td id="modal-task-name"></td>
        </tr>
        <tr class="line">
            <th>詳細:</th>
            <td id="modal-task-details"></td>
        </tr>
        <tr class="line">
            <th>期限:</th>
            <td id="modal-task-date"></td>
        </tr>
        <tr class="line">
            <th>優先度:</th>
            <td id="modal-task-priority"></td>
        </tr>
    </table>
    
    <div class="modal-footer">
        <button id="delete-task-btn" data-task-id="{{ task.pk }}" class="btn btn-danger">削除</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    </div>


</body>
</html>